<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script setup lang="ts">

</script>

<style lang="scss" scoped>
  .<%= data.lowerName %> {
    
  }
</style>


